@mixin reset-button {
  border-radius: 0;
  border: none;
  text-decoration: none;
  padding: 0.6rem 1.4rem;
  font-size: 1.1rem;
  
  @include media-breakpoint-down(lg) {
    font-size: 1rem;
  }
}
@mixin cta-button {
  @include reset-button;
  color: white;
  border: 1px solid $black;
  background-color: $black;
  text-transform: uppercase;
  &:hover {
    color: $black;
    background-color: white;
  }
}
@mixin red-button {
  @include reset-button;
  color: white;
  border: 1px solid $red;
  background-color: $red;
  text-transform: uppercase;
  &:hover {
    color: $red;
    background-color: white;
  }
}
@mixin primary-button {
  @include reset-button;
  color: $black;
  background-color: white;
  border: 1px solid $black;
  text-transform: uppercase;
  &:hover {
    color: white;
    border: 1px solid white;
    background-color: $black;
  }
}
@mixin secondary-button {
  @include reset-button;
  color: inherit;
  background-color: transparent;
}
@mixin para-1 {
  font-size: $font-size-2;

  @include media-breakpoint-down(lg) {
    font-size: $font-size-2-sm;
  }
}
@mixin para-1-bold {
  font-size: $font-size-2;
  font-weight: 700;
  @include media-breakpoint-down(lg) {
    font-size: $font-size-2-sm;
  }
}
@mixin para-2 {
  font-size: $font-size-1;
  @include media-breakpoint-down(lg) {
    font-size: $font-size-1-sm;
  }
}
@mixin para-2-bold {
  font-size: $font-size-1;
  font-weight: 700;
  @include media-breakpoint-down(lg) {
    font-size: $font-size-1-sm;
  }
}
@mixin head-3 {
  font-size: $font-size-3;
  font-weight: 700;
  @include media-breakpoint-down(lg) {
    font-size: $font-size-3-sm;
  }
}

@mixin guide {
  &__title {
    @include para-1;
  }
  &-block {
    @include media-breakpoint-up(lg) {
      border: 1px solid $black;
      border-top: 20px solid $black;
    }
  }
  &__content {
    padding: 3rem 0;
    
    @include media-breakpoint-down(lg) {
      padding: 2rem 0;
    }
  }
  &__content__card {
    position: relative;
    left: 3rem; // offset
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 380px;
    height: 420px;
    padding: 3rem;
    margin-right: 5rem;
    border: 1px solid $black;
  
    @include media-breakpoint-down(md) {
      width: 60vw; // making sure we see one full card and part of the next one
      left: 0rem;
      height: 320px;
      margin-right: 2rem;
    }
  
    @include media-breakpoint-up(lg) {
      &:hover::before {
        content: "";
        position: absolute;
        min-width: 100%;
        height: 100%; 
        top: 10px;
        left: 10px;
        border-right: 10px solid $black;
        border-bottom: 10px solid $black;
        z-index: -1;
      }
    }
  }
  &__footer {
    @include media-breakpoint-up(lg) {
      padding: 2rem;
      border-top: 1px solid $black;
    }
  }
  &__content__card__image {
    object-fit: contain;
    width: 100%;
    height: 45%;
  }
  &__content__card__name {
    @include para-2-bold
    text-align: center;
  }
  &__content__card__btn {
    @include primary-button;
  }
}

@mixin card {
  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    height: 430px;
    padding: 1.5rem;
    gap: 1.5rem;
    @supports (-webkit-touch-callout: none) and (not (translate: none)) {
      &:not(:last-child) {
        margin-right: 1.5rem;
        margin-bottom: 1.5rem;
      }
    }
    @include media-breakpoint-down(md) {
      height: 320px;
      padding: 0;
      width: 45%;
      gap: 0.8rem;
      @supports (-webkit-touch-callout: none) and (not (translate: none)) {
        &:not(:last-child) {
          margin-right: 0.8rem;
          margin-bottom: 0.8rem;
        }
      }
    }
    @include media-breakpoint-up(lg) {
      &:hover {
        outline: 1px solid $black;
      }
      &:hover::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 10px;
        left: 10px;
        border-right: 10px solid $black;
        border-bottom: 10px solid $black;
        z-index: -1;
      }
    }
  }
  &__card__name {
    // text-overflow: ellipsis;
    // overflow: hidden;
    // white-space: nowrap;
    line-height: 1.2;
  }
  &__card__photo {
    height: 65%;
    width: 100%;
    object-fit: cover;
    align-self: center;
  }
  &__card__options {
    color: #727272;
    font-size: 0.8rem;
    margin-top: auto;
    margin-bottom: auto;
  }
  &__card__price {
    font-weight: 700;
  }
}