$red: #AD0000;
$blue: #167FFB;
$orange: #E67E22;
$green: #1EDD88;
$light-gray: #F4F4F4;
$dark-gray: #45494d;
$black: #0E0E0E;
$yellow: #FECD07;

$font-size-5: 5.96rem;
$font-size-3: 3.815rem;
$font-size-2: 1.563rem;
$font-size-1: 1.25rem;

$font-size-5-sm: 3rem;
$font-size-3-sm: 2rem;
$font-size-2-sm: 1.25rem;
$font-size-1-sm: 1rem;
