body>.contact-form-page {
  height: 135vh;
  background-color: black;
}


.phone-title {
  font-size: 20px;
  margin-bottom: 40px;
}

.phone-infos {
  font-weight: 100;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align:center;
  color: #B4B4B4;
}

.phone-infos>p>a {
  color: #B4B4B4;
}

.contact-form-title {
  font-size: 20px;
  color: #B4B4B4;
  text-align:center;
}


.address-title {
  font-size: 20px;
  padding-bottom: 20px;
}

.address-infos {
  margin-top:20px;
  color: #B4B4B4;
  text-align:center;
}

.address-infos>p {
  line-height: 10px;
}




@media (min-width: 320px) {
  .phone-infos>p {
    font-size: 14px;
  }
  .contact-form-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px ;
    margin-bottom: 50px;
  } 
}

// Small devices (landscape phones, 500px and up)
@media (min-width: 500px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .phone-infos>h2 {
    font-size: 22px;
  }
  .phone-infos>p {
    font-size: 16px;
  }
}

// Large devices (desktops, 902px and up)
@media (min-width: 992px) {
  .phone-infos>h2 {
    font-size: 24px;
  }
  .phone-infos>p {
    font-size: 18px;
  }
  .contact-form {
    margin: 0 200px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .phone-infos>h2 {
    font-size: 26px;
  }
  .phone-infos>p {
    font-size: 20px;
  }
}

@media (min-width: 1440px) {
.phone-infos>h2 {
    font-size: 28px;
  }
  .phone-infos>p {
    font-size: 20px;
  }
}


@media (min-width: 2560px) {

}
