// Specific CSS for your home-page

body {
	background-color: white;
  font-weight: 200;
}

select {
  // font: Questrial !important;
}

.article-legit-check {
  background-image: url('/assets/home/article_background_img.png');
  background-size: cover;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  color: white;
  text-align: center;
  padding: 20px 20px;
}
.article-legit-check hr {
  background-color: white;
  margin: 0 20rem;
}
.article-legit-check h2 {
  font-size: 40px;
  font-weight: bold;
}
.article-legit-check p {
  margin-top:20px;
}

.article-legit-check a {
  text-decoration: none; 
  color: white;
}

.article-legit-check a:hover {
  text-decoration: none; 
  color: #FFCD05;
}

@media (min-width: 320px) {
  .article-legit-check h2 {
    font-size: 20px;
  }
  .article-legit-check hr {
    margin: 0 10px;
  }
  .article-legit-check p, a{
    font-size: 10px;
  }
}
@media (min-width: 768px) {
  .article-legit-check h2 {
    font-size: 30px;
  }
  .article-legit-check hr {
    margin: 0 50px;
  }
  .article-legit-check p, a{
    font-size: 12px;
  } 
}

@media (min-width: 1024px) {
  .article-legit-check h2 {
    font-size: 40px;
  }
  .article-legit-check hr {
    margin: 0 100px;
  }
  .article-legit-check p, a{
    font-size: 14px;
  } 
}




.message-pub {
  margin-top:50px;
  padding: 0px 10px;
  background-color: black;
  color: white;
  text-align: center;
  margin-bottom: 0;
}
.message-pub a {
  color: white;
}
.message-pub a:hover {
  text-decoration: none; 
  color: #FFCD05;
}



.link-home-page a {
  color: black;
}
.btn-dark {
  background-color: black;
}
.link-home-page a:hover {
  text-decoration: none; 
  color: #FFCD05;
}

.missing_infos {
 	display: flex;
  justify-content: center;
	height: 25px;
	background-color: #f8d7d9;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 0px 2px;
  margin-top: 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}


.btn-flat {
  margin-top: 15px;
  color: white;
  padding: 0px 2px;
  border-radius: 4px;
  background: #FFCD05;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #e6c233;
  color: white;
}

