/////////////// GUIDES ///////////////

.home-guides__title {
  @include para-1;
  margin-bottom: 3rem;
}
.home-guides-block {
  border: 1px solid $black;
  border-top: 20px solid $black;
}
.home-guides__content {
  padding: 3rem;
  overflow-x: hidden;
}
.home-guides__content__card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right: 5rem;
  width: 380px;
  height: 420px;
  padding: 3rem;
  border: 1px solid $black;
}
.home-guides__content__card:hover::before {
  content: "";
  position: absolute;
  min-width: 100%;
  height: 100%; 
  top: 10px;
  left: 10px;
  border-right: 10px solid $black;
  border-bottom: 10px solid $black;
  z-index: -1;
}
.home-guides__footer {
  padding: 2rem;
  border-top: 1px solid $black;
}
.home-guides__content__card__image {
  max-height: calc(420px / 2);
}
.home-guides__content__card__name {
  @include para-2-bold
}
.home-guides__content__card__btn {
  @include cta-button;
}


/////////////// LAST/SELECTED SNEAKERS ///////////////

.home-last-sneakers,
.home-selected-sneakers {
  &__title {
    @include para-1;
    margin-bottom: 3rem;
  }
  &__block {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
  }
  &__btn-block {
    text-align: center;
  }
  &__btn {
    @include cta-button;
    margin-top: 2rem;
    margin-bottom: 3rem;
  } 
}
.sneaker-home__card {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 280px;
  height: 450px;
  padding: 1.5rem 2rem;
  &:hover {
    outline: 1px solid $black;
  }
  &:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10px;
    left: 10px;
    border-right: 10px solid $black;
    border-bottom: 10px solid $black;
    z-index: -1;
  }
}
.sneaker-home__card__name {
  line-height: 1.2;
}
.sneaker-home__card__photo {
  width: 200px;
  height: 275px;
  object-fit: contain;
  align-self: center;
}
.sneaker-home__card__options {
  color: #727272;
  font-size: 0.8rem;
}
.sneaker-home__card__price {
  font-weight: 700;
}


/////////////// SIGNUP ///////////////

.home-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  &__msg {
    @include para-1;
    width: 50%;
  }
  &__form {
    width: 330px;
  }
  &__form-submit {
    @include cta-button;
    width: 100%;
    margin-top: 1.5rem;
  }
}


/////////////// AUTHENTICATION ///////////////

.home-auth {
  &__title {
    @include para-1;
    margin-bottom: 3rem;
  }
  &__block {
    position: relative;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    &-sticker {
      position: absolute;
      bottom: 5%;
      right: 5%
    }
    &-caption {
      position: absolute;
      top: 50px;
      left: 50px;
      background: white;
      padding: 2rem;
      width: 30%;
      &__title {
        @include para-1;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
      }
      &__descr {
        margin-bottom: 1rem;
      }
      &__btn {
        font-weight: 700;
      }
    }
  }
}
