.sales-pan {
  min-height: 100vh;
  display: grid;
  align-items: center;
}

.see-my-sneaker {
    text-decoration: none;
    color: black;
  }
  .see-my-sneaker:hover {
    color:white;
  }
.sales-pan.tab-pane.fade.show.active>h2 {
  color: #494949;
  margin-top: 50px;
  justify-self:center;
  text-align: center;
}

.navbar-items {
  margin-top : 60px;
}

.sales-sneaker-img {
  width: 100px;
}

.sales {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding-bottom: 10px;
  margin: 20px;
  border-bottom: 1px solid #545454;
}

.sales-sneaker {
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
}

.sales-sneaker>p {
  margin: 0;
  font-size: 13px;
}

.sales-sneaker-name {
  padding-bottom: 10px;
}

.sales-sneaker-name>h5 {
  font-size: 16px;
}

.sales-infos>p {
  margin: 0;
  font-size: 12px;
}

.sales-infos {
  grid-column-start: 1;
  grid-column-end: 3;
}

.sales-problem-btn {
  padding: 2px 2px;
  border-radius: 10px;
  font-size: 10px;
  grid-column: 2 / 3; 
  margin-bottom: 10px;
}

@media (min-width: 320px) {

}

// Small devices (landscape phones, 500px and up)
@media (min-width: 500px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .sales {
    grid-gap: 20px;
    align-self:center;
    padding-top: 20px;
  }  
  .sales-sneaker-img {
    justify-self:right;
    align-self:center;
  }
  .sales-sneaker-name>h5 {
    font-size: 20px;
  }
  .sales-sneaker>p {
    font-size: 17px;
  }
  .sales-infos>p {
    font-size: 15px;
  }
  .sales-infos {
    justify-self:center;
    margin-bottom: 20px;
    justify-content: center;
  }
  .sales-problem-btn {
    margin-left: 270px;
    margin-right: 270px;
    grid-column: 1 / 3;
    font-size: 15px; 
  }
}

// Large devices (desktops, 902px and up)
@media (min-width: 1024px) {
  // .sales:nth-child(odd) {
  //   border-bottom: 1px solid #545454;;
  // }

  .sales { 
    padding-bottom: 50px;
    border-bottom: 1px solid #545454;
    // border-bottom: none;
  }
  .sales-pan.tab-pane.fade.show.active {
    display: grid;
    grid-template-columns: 1fr;
    // grid-template-columns: repeat(auto-fit, 600px);
    grid-gap: 20px;
  }
  .sales-problem-btn {
    padding: 0px 50px;
    justify-self: center;
    margin: 0px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .sales { 
    // padding-bottom: 50px;
    border-bottom: none;
  }
  .sales-pan.tab-pane.fade.show.active {
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
    justify-content:center;
    grid-gap: 20px;
  }
}

@media (min-width: 1440px) {
  .sales:nth-child(odd) {
    border-right: 1px solid #545454;;
  }
}


@media (min-width: 2560px) {
  .sales {
    border-right: 1px solid #545454;;
  }
}
