.purchase {
  display: flex;
  gap: 5rem;
  @include media-breakpoint-down(lg) {
    flex-direction: column;
    gap: 3rem;
  }
}
.purchase-form {
  display: flex;
  flex-direction: column;
  width: 66%;

  &__shipping {
    &__relay-target {
      display: flex;
      gap: 1rem;
      margin-bottom: 1rem;
    }
    &__relay-btn {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__infos,
  &__shipping,
  &__payment {
    &__title {
      @include para-1;
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
    }
    &__fields {
      margin-bottom: 3rem;
    }
  }
  &__validation__btn {
    @include cta-button;
    margin-bottom: 1rem;

    @include media-breakpoint-down(lg) {
      margin-top: 1.5rem;
      width: 100%;
    }
  }
}
.purchase-form__shipping__relay,
.purchase-form__shipping__relay-map {
  display: none;
}
.purchase-form__shipping__relay-target-address {
  font-weight: 700;
}
.purchase-form__shipping__relay-target-city {
  text-transform: capitalize;
  color: $dark-gray;
}
.purchase-recap {
  &__card {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 400px;
    padding: 2rem;
    border: 1px solid $black;
    @include media-breakpoint-down(lg) {
      display: none;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 10px;
      left: 10px;
      border-right: 10px solid $black;
      border-bottom: 10px solid $black;
      z-index: -1;
    }
    &__title {
      @include para-1;
      margin-bottom: 2rem;

      &.is-mobile {
        @include media-breakpoint-up(lg) {
          display: none;
        }
      }
    }
    &__sneaker {
      display: flex;
      gap: 1rem;
      padding: 1.5rem 0;
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;

      @include media-breakpoint-down(lg) {
        border: none;
      }

      &.is-mobile {
        @include media-breakpoint-up(lg) {
          display: none;
        }
      }

      &-photo {
        width: 33%;
        min-height: 100%;
        object-fit: cover;
      }
      &-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
      }
      &-options {
        color: #727272;
      }
      &-price {
        @include para-2-bold;
      }
    }
    &__order-infos {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid $black;
      margin-bottom: 3rem;

      &.is-mobile {
        margin-bottom: 2rem;
        border-top: 1px solid $black;
        @include media-breakpoint-up(lg) {
          display: none;
        }
      }
      &__item {
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;
        & > div:last-child {
          font-weight: 700;
        }
      }
    }
    &__total {
      @include para-2-bold;
      display: flex;
      justify-content: space-between;

      &.is-mobile {
        @include media-breakpoint-up(lg) {
          display: none;
        }
      }
    }
  }
}
