.point-picker-btn {
  margin-top: 20px;
}

.payment-input-info {
  padding: 30px;
  height: 650px;
  box-shadow: 0 0 15px rgba(0,0,0,0.05);
}
@media (min-width: 320px) {

  .circles {
    justify-content: space-between;
  }
  .sneaker-payment-new {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .payment-input-info {
    font-size: 11px;
    padding: 10px;
    width: 260px;
  }
}

@media (min-width: 425px) {
  .circles {
    justify-content: space-between;
  }
  .payment-input-info {
    width: 350px;
    padding: 30px;
  }
}

@media (min-width: 768px) {
  .payment-input-info {
    font-size: 13px;
    width: 500px;
  }
}

@media (min-width: 1024px) {
  .circles {
    justify-content: space-around
  }
  .sneaker-payment-new {
    display:grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    min-height: 100vh;
  }
}

@media (min-width: 1440px) {
  .payment-input-info {
    width: 500px;
  }
}