.sneaker-infos{
  display: flex;
  width: 100%;
  gap: 3rem;
  @include media-breakpoint-down(lg) {
    flex-direction: column;
    gap: 2rem;
  }
}
.sneaker-infos__photo-block {
  display: inline-block;        
  height: 580px;
}
.sneaker-infos__photos-carousel {
  width: 100%;
  @include media-breakpoint-down(md) {
    height: 50vh;
  }
}
.sneaker-infos__photo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.sneaker-details{
  display: flex;
  flex-direction: column;
  min-width: 50%;
}
.sneaker-details__name {
  margin-bottom: 0.2em;
}
.sneaker-details__options {
  @include para-1;
  color: #727272;
}
.sneaker-details__price{
  @include para-1-bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.sneaker-details__box{
  color: #727272;
  margin-bottom: 0.6rem;
}
.sneaker-details__buttons {
  display: flex;
  width: 100%;
  gap: 1rem;
  & > div {
    width: 100%;
  }
}
.sneaker-details__purchase{
  @include cta-button;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.sneaker-details__bid{
  @include primary-button;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.sneaker-details__legal-infos-list{
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
  @include media-breakpoint-down(lg) {
    margin-top: 1rem;
  }
}

.sneaker-service__subtitle {
  @include para-1;
}
.sneaker-service-block {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  gap: 3rem;
  @include media-breakpoint-down(md) {
    gap: 1rem;
  }
}
.sneaker-service__card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  width: 320px;
  border: 1px solid $black;
  padding: 3rem 1.5rem;

  @include media-breakpoint-down(md) {
    width: 100%;
  }

  @include media-breakpoint-up(lg) {
    &:hover::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%; 
      top: 10px;
      left: 10px;
      border-right: 10px solid $black;
      border-bottom: 10px solid $black;
      z-index: -1;
    }
  }
}
.sneaker-service__card__img {
  padding-bottom: 1rem;
}
.sneaker-service__card__title {
  @include para-1;
  text-transform: uppercase;
}
.sneaker-similar__subtitle {
  @include para-1;
  margin-bottom: 3rem;
}
.sneaker-similar-block {
  overflow-x: hidden;
}
.sneaker-similar {
  @include card;
  &__card {
    @include media-breakpoint-down(md) {
      width: 220px;
    }
    margin-right: 2rem;
    top: 1px;
    left: 1px;
  }
}