.sneaker-form__previous-btn {
  @include secondary-button;
  @include media-breakpoint-down(md) {
    text-align: center;
    width: 100%;
  }
}
.sneaker-form__next-btn {
  @include cta-button;
  @include media-breakpoint-down(md) {
    width: 100%;
  }
}
.sneaker-form__btns {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  @include media-breakpoint-down(md) {
    width: 100%;
  }
}
.sale-wizard__subtitle {
  @include para-1;
}
.sale-wizard__progress {
  display: flex;
  width: 100%;
  gap: 1rem;
  color: #dbdbdb;
  margin-bottom: 5rem;

  &__step {
    flex-grow: 1;
  }
  
  &__step-title {
    color: #dbdbdb;
    &--active,
    &--complete {
      color: $black;
    }
  }
  &__step-display {
    background-color: #dbdbdb;
    height: 10px;
    &--active,
    &--complete {
      height: 10px;
      background-color: $black;
    }
  }
}
.sneaker-db__card {
  padding: 2rem;
  text-align: center;

  @include media-breakpoint-up(lg) {
    &:hover {
      outline: 1px solid $black;
    }
    &:hover::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 10px;
      left: 10px;
      border-right: 10px solid $black;
      border-bottom: 10px solid $black;
      z-index: -1;
    }
  }
  &-img {
    width: 300px;
    height: 180px;
    object-fit: contain;
  }
}
.sneaker-form__infos {
	display: flex;
	width: 25%;
	flex-direction: column;
	margin: auto;
	@include media-breakpoint-down(lg) {
		width: 50%;
	}
	@include media-breakpoint-down(md) {
		width: 100%;
	}
}
.sneaker-form__photos {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem 2rem;
  margin-top: 3rem;

  @include media-breakpoint-down(md) {
    justify-content: center;
    gap: 3rem 1rem;
  }

  & label {
    text-align: center;
    margin-top: 0.5rem;
    color: $dark-gray;
    width: 100%;
  }
}
.sneaker-form__photo {
  position: relative;
  width: 250px;
  height: 220px;
  border: 2px dashed #d6d6d6;

  @include media-breakpoint-down(md) {
    width: 45%;
  }

  &-0 {
    background-image: url("/assets/sneaker_new/1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  &-1 {
    background-image: url("/assets/sneaker_new/2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  &-2 {
    background-image: url("/assets/sneaker_new/3.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  &-3 {
    background-image: url("/assets/sneaker_new/4.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  &-4 {
    background-image: url("/assets/sneaker_new/5.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  &-5 {
    background-image: url("/assets/sneaker_new/6.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  &-6 {
    background-image: url("/assets/sneaker_new/7.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  &-7 {
    background-image: url("/assets/sneaker_new/8.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.sneaker-form__photo__input {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  z-index: 999;
  height: 30%;
  cursor: pointer;
}
.sneaker-form__photo__btn {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0.5rem 1rem;
  width: calc(100% - 2rem);
}
.sneaker-form__photo__preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  visibility: hidden;
}
.sneaker-form__recap {
  &__card {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    padding: 2rem;

    @include media-breakpoint-down(md) {
      padding: 0;
      width: 100%;
    }

    @include media-breakpoint-up(lg) {
      border: 1px solid $black;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 10px;
        left: 10px;
        border-right: 10px solid $black;
        border-bottom: 10px solid $black;
        z-index: -1;
      }
    }
    &__title {
      @include para-1;
    }
    &__sneaker {
      display: flex;
      gap: 1rem;
      padding: 1.5rem 0;
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;
      &-photo {
        width: 100%;
        min-height: 100%;
        object-fit: cover;
      }
      &-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
      }
      &-options {
        color: #727272;
      }
      &-price {
        @include para-2-bold;
      }
    }
    &__order-infos {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid $black;
      border-top: 1px solid $black;
      margin-top: 2rem;
      margin-bottom: 2.5rem;
      &__item {
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;
        & > div:last-child {
          font-weight: 700;
        }
      }
    }
    &__total {
      @include para-2-bold;
      display: flex;
      justify-content: space-between;
    }
    &__btn {
      @include cta-button;
      margin: 2rem 0;
      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }
  }
}
.sneaker-form__recap__content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
}
.sneaker-form__recap__left {
  width: 45%;
  @include media-breakpoint-down(md) {
    width: 100%;
  }
}
.sneaker-form__recap__photos {
  display: inline-block;
  width: 100%;
  height: 300px;
  margin-bottom: 2rem;
}
.sneaker-form__recap__details {
  margin-top: 2rem;
  color: #727272;
  & > a,
  & > a:hover {
    color: $black;
  }
}
.sneaker-form__recap__photo {
  height: 100%;
  width: 100%;
  object-fit: contain;
}