.sneaker-featured__subtitle {
  @include para-1;
}
.sneaker-featured-block {
  border: 1px solid $black;
  padding: 1.5rem;
  margin-top: 2rem;

  @include media-breakpoint-up(lg) {
    margin-top: 0;
    padding: 3rem;
    border-top: 20px solid $black;
  }
}
.sneaker-featured-block__title {
  @include para-1;
  margin-bottom: 3rem;

  @include media-breakpoint-down(lg) {
    margin-bottom: 1.5rem;
  }
}
.sneaker-featured-block__content {
  display: flex;
  gap: 3rem;
  justify-content: space-evenly;
  @include media-breakpoint-down(lg) {
    flex-direction: column;
    gap: 2rem;
  }
}
.sneaker-featured-photo {
  object-fit: cover;
  width: 40%;

  @include media-breakpoint-down(lg) {
    width: 100%;
    height: 80vw;
    margin-right: 0;
  }
}
.sneaker-featured-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.sneaker-featured__name {
  font-size: 3.5rem;
  margin-bottom: 0.2em;
  @include media-breakpoint-down(lg) {
    font-size: 2.4rem;
  }
}
.sneaker-featured-details__options {
  @include para-1;
  color: #727272;
}
.sneaker-featured-details__price {
  @include para-1-bold;
  margin-top: 2rem;
  margin-bottom: 2rem;

  @include media-breakpoint-down(lg) {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
.sneaker-featured-details__purchase {
  @include cta-button;
  @include media-breakpoint-down(md) {
    width: 100%;
  }
}
.sneaker-featured-details__discover {
  @include secondary-button;
  @include media-breakpoint-down(md) {
    width: 100%;
  }
}
.sneaker-index {
  @include card
}
.filter-popup-update-btn {
  @include cta-button;
  width: 100%;
}
.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 2rem;

  @include media-breakpoint-down(md) {
    gap: 1rem 0.8rem;
  }
}