@font-face {
  font-family: 'DM Sans';
  src: font-url('DMSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Permanent Marker';
  src: font-url('PermanentMarker-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}