<div class="modal__infos mb-5 w-100">
  <%= image_tag(@guide_req.guide.img_url, class: "modal__img", style: "width: 25%") %>
    <div class="modal__subtitle">Le Guide</div>
    <div class="modal__guide-name">
      <%= @guide_req.guide.name %>
    </div>
</div>
<div class="modal__content">
  <form id="payment-form" hidden>
    <div id="payment-element">
      <!--Stripe.js injects the Payment Element-->
    </div>
    <button id="submit" type="submit">
      <span id="button-text">Payer <%= @guide_req.price %>€</span>
    </button>
    <div id="payment-message" hidden></div>
  </form>
</div>