<div class="modal__subtitle">Service premium</div>
<h2 class="modal__h2">Authentification</h2>
<ul class="modal__checklist modal__checklist--auth">
  <li><i class="fas fa-check-circle"></i> Résultats en 24h</li>
  <li><i class="fas fa-check-circle"></i> Tout modèle</li>
  <li><i class="fas fa-check-circle"></i> Expertise complète</li>
</ul>
<div class="modal__content">
  <form id="payment-form" hidden>
    <div id="payment-element">
      <!--Stripe.js injects the Payment Element-->
    </div>
    <button id="submit" type="submit">
      <span id="button-text">Payer</span>
    </button>
    <div id="payment-message" hidden></div>
  </form>
</div>