<title>Mot de passe oublié - Rock Don't Stock</title>
<div class="container">
  <div class="forget-password">
    <h2>Mot de passe oublié ?</h2>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Changer mon mot de passe", class: "btn btn-dark" %>
      </div>
    <% end %>
    <%#= render "devise/shared/links" %>
  </div>
</div>

<style type="text/css">
  .forget-password {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .forget-password h2 {
    margin-bottom: 30px;
  }
  .form-actions {
    margin-top: 10px;
  }
  .user_email input {
    width: 300px;
  }
</style>