<div id="alert-container" style="position: absolute; left: 50%; transform: translateX(-50%); width: 33%; text-align: center;">
  <% if notice %>
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= notice %>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= alert %>
    </div>
  <% end %>
</div>

<script>
let alertContainer = document.getElementById('alert-container')

if (alertContainer) {
  setTimeout(() => {
    alertContainer.remove()
  }, 3000)
}
</script>