<div class="container">
  <div id="alert-container" style="display: flex; justify-content: right; z-index: 999">
    <% if notice %>
      <div class="alert alert-info alert-dismissible fade show" style="padding: 1.5rem; background-color: #F0F0F0; border: none; width: 400px" role="alert">
        <h4 class="alert-heading">Notification</h4>
        <%= notice %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-warning alert-dismissible fade show" style="padding: 1.5rem; background-color: #F0F0F0; border: none; width: 400px" role="alert">
        <h4 class="alert-heading">Notification</h4>
        <%= alert %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
  </div>
</div>

<script>
// if (document.querySelector('.alert')) {
//   setTimeout(() => {
//     let alertNode = document.querySelector('.alert')
//     let alert = bootstrap.Alert.getInstance(alertNode)
//     alert.close()
//   }, 3000)
// }
</script>