<div id="alert-container" style="position: absolute; left: 50%; transform: translateX(-50%); width: 33%; text-align: center; z-index: 999">
  <% if notice %>
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= notice %>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= alert %>
    </div>
  <% end %>
</div>

<script>
// if (document.querySelector('.alert')) {
//   setTimeout(() => {
//     let alertNode = document.querySelector('.alert')
//     let alert = bootstrap.Alert.getInstance(alertNode)
//     alert.close()
//   }, 3000)
// }
</script>