<footer>
  <div class="footer-left-block">
    <div class="footer__newsletter">
      <div class="footer__newsletter__title">Abonne-toi !</div>
      <div class="footer__newsletter__descr">Reçois toutes nos dernières news, guides gratuits et nouveautés...</div>
      <input class="footer__newsletter__input" placeholder="Email">
    </div>
    <div class="footer__trustpilot">
      <div class="trustpilot-widget" data-locale="fr-FR" data-template-id="5419b6a8b0d04a076446a9ad" data-businessunit-id="6195294cb9ead409a7c86f1f" data-style-height="220px" data-style-width="100%" data-theme="light" data-stars="1,2,3,4,5" data-no-reviews="hide" data-scroll-to-list="true" data-allow-robots="true">
        <a href="https://fr.trustpilot.com/review/rockdontstock.com" target="_blank" rel="noopener">Trustpilot</a>
      </div>
    </div>
    <div class="footer__bottom-line">Copyright ©, 2021, Rock Don’t Stock. Tous droits réservés. N°135094456839</div>
  </div>
  <div class="footer-right-block">
    <div class="footer__list-block">
      <div class="footer__list-title">A propos</div>
      <ul class="footer__list">
        <li>Qui sommes-nous ?</li>
        <li>Comment envoyer ma paire ?</li>
        <li>Plan du site</li>
        <li>FAQ</li>
      </ul>
    </div>
    <div class="footer__list-block">
      <div class="footer__list-title">Conditions</div>
      <ul class="footer__list">
        <li>CGU</li>
        <li>CGV</li>
        <li>Politique de confidentialité</li>
        <li>Authentification</li>
      </ul>
    </div>
    <div class="footer__list-block">
      <div class="footer__list-title">Nous contacter</div>
      <ul class="footer__list">
        <li>
          <%= mail_to("hello@rockdontstock.com", "hello@rockdontstock.com", target:"_blank") %>
        </li>
        <li>
          <a href="https://www.instagram.com/rockdontstock/" target="_blank">@rockdontstock</a>
        </li>
        <li>
          <a href="https://www.facebook.com/rockdntstock/" target='_blank'>Sur Facebook</a>
        </li>
      </ul>
    </div>
  </div>
</footer>