<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>


    </section>

    <!-- Section: Text -->
    
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="font-weight-bold">Plan du site</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="/sneakers" class="text-white ">Acheter</a>
            </li>
            <li>
              <a href="/sneakers/new" class="text-white">Vendre</a>
            </li>
            <li>
              <%= link_to 'Mon compte', user_path(current_user), class:"text-white" %>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled mb-0">
            <li class="first-text">
              <a href="/about" class="text-white">Qui sommes-nous ?</a>
            </li>
            <li>
              <a href="/about" class="text-white">Comment acheter ?</a>
            </li>
            <li>
              <a href="#!" class="text-white">Questions courantes</a>
            </li>
            <li>
              <a href="#!" class="text-white">FAQ</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

          <ul class="list-unstyled mb-0">
            <li class="first-text">
              <a href="#!" class="text-white">Mentions Légales</a>
            </li>
            <li>
              <a href="#!" class="text-white">CGU / CGV</a>
            </li>
            <li>
              <a href="#!" class="text-white">Politique de retour</a>
            </li>
            <li>
              <a href="#!" class="text-white">Authentification</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="contact-title font-weight-bold">Nous contacter </h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">+33606811836</a>
            </li>
            <li>
              <a href="#!" class="text-white">hello@rockdontstock.fr</a>
            </li>
            <li>
              Follow nous sur IG : <a href="#!" class="text-white">@rockdntstock</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © Copyright, 2021, Rock don’t Stock, Tout droits reservés.<br>
    N°135094456839, 2 rue Massilian, 34000, Montpellier, France 
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->