<title>À propos - Rock Don't Stock</title>
<div class="about-us" style="margin-bottom: -12rem">
  <div class="blocks">
    <div class="first-block">
      <div class="first-block-img">
        <%= image_tag("about/about1") %>
      </div>

      <div class="about-first-text">
        <h3>NOUS SOMMES VOUS</h3>
        <p>Par des passionnés pour des passionnés. C’est bien l’ambition et le positionnement de Rock Don’t Stock depuis les prémices du projet ! Nous avons aussi  vécu la frustration de ne pas trouver LA paire  à un prix décent, le stress d’acheter une sneakers sans  être sûr à 100% de son authenticité ou  la colère de ne jamais voir la couleur de la box lorsque cette dernière passe entre les mains de Chronopost…</p>
        <p>Bonne nouvelle, tout ça c’est fini ! Il est temps pour  la communauté de s’appuyer sur une plateforme safe  où les amoureux de baskets rockés peuvent échanger faire tourner ou encore trouver le modèle de leur rêve au  prix juste. Le tout avec une garantie d’authenticité.</p>
      </div>
    </div>
    <div class="second-block">
      <div class="about-second-text">
        <h3>NOTRE MISSION</h3>
        <p>Le but de Rock Don’t Stock ? Lutter contre le fake et l’explosion des prix tout en promouvant la sneakers rockée. Il n’y a rien de plus beau qu’une basket déjà portée, pleine de vécu et associé à des souvenirs ou à un sentiment. Nous nous sommes alors vite aperçus qu’aucune plateforme ne répondait à ces différents besoins en France.</p>
        <p>Au vu de l’explosion du marché de la basket et de la hausse de contrefaçons  qui s’améliorent de jour en jour, nous souhaitons vous proposer une  plateforme secure en nous positionnant entre l’acheteur et le  vendeur, dans le but de garantir la conformité de l’annonce ainsi que  l’authenticité de la sneakers.</p>
      </div>
      <div class="second-block-img">
        <%= image_tag("about/about2") %>
      </div>
    </div>
  </div>
  <div class="third-block">
      <div class="third-block-img">
        <%= image_tag("about/about3") %>
      </div>
      <div class="about-third-text">
        <h3>NOTRE HISTOIRE</h3>
        <p>Moi c’est Elliot, le co-fondateur de Rock Don’t Stock. Avec Nils, mon associé on est tous les deux passionnés par la street-culture depuis de nombreuses années. C’est  d’ailleurs cet attrait qui nous a amenés vers la sneakers et qui a fini par nous réunir.</p>
        <p>Lassés du marché actuel, de l’évolution de la communauté et de l’intérêt pour la hype plus que pour l’histoire, on s’est tous les  deux sentis légitimes de proposer notre alternative. Après des mois de préparation, il est l’heure d’avancer à vos côtés et de faire avancer le mouvement ensemble.</p>
      </div>
    </div>
  </div>

</div>

<style type="text/css">
  .bg-dark.text-center.text-white {
    margin-top: 0px;
  }
</style>