<div class="container authentification-article">
  <h1>L’authentification par Rock Don’t Stock</h1>
  <p>Chez Rock Don’t Stock, tous les articles sont authentifiés par nos soins.<br>
  C’est-à-dire que nous ne vérifions pas les paires uniquement en photo, mais nous les recevons et les analysons. </p>
  <%= image_tag("pages/authentification/1.png", style: "width: 100%;margin: 20px 0;") %>
  <p>Etant nous-mêmes passionnés, on a déjà subi la contrefaçon et c’est pour cela qu’on a décidé de fonder Rock Don’t Stock. On sait que c’est aujourd’hui un fléau et c’est l’essence même de Rock Don’t Stock avec l’occasion. On y apporte donc une grande importance et le plus grand soin.</p>
  <p style="text-decoration: underline">Quelles sont nos techniques ?</p>
  <p>Pour cela, nous avons rédigé avant d’ouvrir la marketplace des fiches produits pour un maximum de paires. <br>
  Ces fiches produites contiennent les précieux points à check pour chaque paire (taille des empiècements, police des size tag, qualité des matériaux…). <br>
  Ces informations sont le fruit d’heures de recherches sur les sites du fin fond du web (pas toujours français ni anglais) et de comparaison sur tous les sites de revente d’occasion. <br>
  En plus de ces fiches produites, nous avons aujourd’hui travaillé avec vous sur de nombreux dossiers de Legit Check, notre œil s’est donc bien affuté. </p>
  <%= image_tag("pages/authentification/2.png", style: "width: 100%;margin: 20px 0;") %>
  <p>Pour nous, chaque paire est unique et notre objectif est d’avoir une réussite de 100%. Pour cela, nous accordons tout le temps qu’il faut pour chaque Legit Check et aucune contrainte de temps ni pression n’est mise. On soigne chaque cas. <br><br>
  Nous prenons pour cette authentification des frais, qui correspondent au temps de travail et aux frais d’emballage. Nous avons décidé de diviser ces frais équitablement entre acheteur et vendeur, l’équité étant un principe fondamental dans la sneakers. <br><br>
  Recevoir la paire est pour nous aujourd’hui le seul moyen d’assurer une transaction totale safe, de l’acheteur au vendeur. En plus d’authentifier la paire, cela nous permet de sécuriser la partie transport, en confiant la paire uniquement à des partenaires en qui nous avons confiance. Fini donc les vendeurs qui envoient un caillou ou les livreurs qui « mettent la paire dans la boîte aux lettres ». <br><br>
  Que tu achètes ou vendes sur Rock Don’t Stock, tu peux être tranquille et avoir l’esprit serein du début à la fin de la transaction, on s’occupe de tout ! </p>
</div>

<style type="text/css">

  @media (min-width: 320px) {
    .authentification-article h1{
      margin-top: 60px;
      font-size: 25px;
    }
  }
  @media (min-width: 768px) {
    .authentification-article h1{
      margin-top: 70px;
    }
  }
  @media (min-width: 1024px) {
    .authentification-article h1{
      margin-top: 80px;
      font-size: 28px;
    }
  }
  @media (min-width: 1440px) {
    .authentification-article h1{
      margin-top: 100px;
      font-size: 32px;
    }
  }
  
  .authentification-article h1{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 50px;
  }
</style>