<title>Authentification - Rock Don't Stock</title>
<div class="container">
  <div class="auth-header"></div>
  <div class="auth-infos">
    <div class="auth-infos__content">
      <div class="auth-infos__content__stats">
        <div class="auth-infos__content__stat-element">
          <div>+70</div>
          <div>Arnaques évitées</div>
        </div>
        <div class="auth-infos__content__stat-element">
          <div>+300</div>
          <div>Guides téléchargés</div>
        </div>
        <div class="auth-infos__content__stat-element">
          <div>4 à 6</div>
          <div>Points détaillés</div>
        </div>
        <div class="auth-infos__content__stat-element">
          <div>1h</div>
          <div>Par Legit Check</div>
        </div>
      </div>
      <button class="cta-button">Parcourir la marketplace</button>
    </div>
    <div class="auth-infos__footer">
      <div>
        Chez Rock Don’t Stock, tous les articles sont authentifiés par nos soins. Chaque modèle acheté passe entre les
        mains de nos experts afin de garantir un Legit Check de qualité. Nous prenons le temps qu’il faut afin de vérifier
        un maximum d’éléments et ainsi certifier la conformité de ton modèle. En tant que produit le plus contrefait, nous
        accordons une importance primordiale à l’authenticité des sneakers vendues via notre plateforme !
      </div>
      <div>
        Rock Don’t Stock met tout en oeuvre afin de te proposer un service des plus fiables. De paires décortiquées en
        passant par des informations récupérées directement via les fabricants, nos authentifications sont le fruit de
        recherches et d’un sourcing minutieux. Nous mettons quotidiennement à jour nos fiches produits pour chaque
        nouvelle release ou amélioration d’un modèle antérieur afin de rester dans la course face aux contrefaiseurs.
      </div>
    </div>
  </div>
  <div class="auth-guides"></div>
  <div class="auth-service"></div>
  <div class="auth-insta"></div>
  <div class="auth-footer"></div>
</div>