<title>Authentification - Rock Don't Stock</title>
<div class="container">
  <div class="auth-hero"></div>
  <section class="auth-infos">
    <div class="auth-infos__subtitle">Notre Marketplace</div>
    <h2>L'authentification sur notre marketplace</h2>
    <div class="auth-infos-block">
      <div class="auth-infos__content">
        <div class="auth-infos__content__stats">
          <div class="auth-infos__content__stat-element">
            <div>+70</div>
            <div>Arnaques évitées</div>
          </div>
          <div class="auth-infos__content__stat-element">
            <div>+300</div>
            <div>Guides téléchargés</div>
          </div>
          <div class="auth-infos__content__stat-element">
            <div>4 à 6</div>
            <div>Points détaillés</div>
          </div>
          <div class="auth-infos__content__stat-element">
            <div>1h</div>
            <div>Par Legit Check</div>
          </div>
        </div>
        <button class="auth-infos__content__cta">Parcourir la marketplace</button>
      </div>
      <div class="auth-infos__footer">
        <div>
          Chez Rock Don’t Stock, tous les articles sont authentifiés par nos soins. Chaque modèle acheté passe entre les
          mains de nos experts afin de garantir un Legit Check de qualité. Nous prenons le temps qu’il faut afin de vérifier
          un maximum d’éléments et ainsi certifier la conformité de ton modèle. En tant que produit le plus contrefait, nous
          accordons une importance primordiale à l’authenticité des sneakers vendues via notre plateforme !
        </div>
        <div>
          Rock Don’t Stock met tout en oeuvre afin de te proposer un service des plus fiables. De paires décortiquées en
          passant par des informations récupérées directement via les fabricants, nos authentifications sont le fruit de
          recherches et d’un sourcing minutieux. Nous mettons quotidiennement à jour nos fiches produits pour chaque
          nouvelle release ou amélioration d’un modèle antérieur afin de rester dans la course face aux contrefaiseurs.
        </div>
      </div>
    </div>
  </section>
  <section class="auth-guides">
    <div class="auth-guides__subtitle">Découvrez</div>
    <h2>Nos guides gratuits</h2>
    <div class="auth-guides-block">
      <div class="auth-guides__content">
        <div class="auth-guides__content__card">
          card
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-auth">
            Launch demo modal
          </button>
        </div>
        <div class="auth-guides__content__card">
          card
        </div>
        <div class="auth-guides__content__card">
          card
        </div>
      </div>
      <div class="auth-guides__footer">
        Chaque guide te permet de connaitre différents points d’authentification essentiels afin de Legit Check le modèle en toute autonomie. N’hésites pas à t’en servir afin d’éviter l’achat d’un modèle suspicieux.
      </div>
    </div>
  </section>
  <section class="auth-service">
    <div class="auth-service__subtitle">Notre service</div>
    <h2>Service d'authentification premium</h2>
    <div class="auth-service-block">
      <div class="auth-service__description">
        Envie d’être 100% sur d’un modèle que tu souhaites acquérir en dehors de notre plateforme de vente ? N’hésites pas à faire appel a notre service d’authentification. Déposes tes photos, on s’occupe du reste.
      </div>
      <div class="auth-service__card">
        card
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-auth">
          Launch demo modal
        </button>
      </div>
    </div>
  </section>
  <section class="auth-insta">
    <div class="auth-insta__subtitle">Suivez-nous</div>
    <h2>Check notre Instagram</h2>
    <div class="auth-insta-block">
      <div class="auth-insta__content">
        <div class="auth-insta__content__image">
          image
        </div>
        <button class="auth-insta__content__button">@rockdontstock</button>
      </div>
      <div class="auth-insta__footer">
        Plus qu’un outil de promotion, notre Instagram a pour vocation de te donner d’autres informations et les clés afin de pouvoir t’aider à authentifier les dernières releases. Tu pourras aussi retrouver des stories informatives sur l’histoire des sneakers, des sondages participatifs ou des mini jeux dans le but de developper tes compétences en Legit Check !
      </div>
    </div>
  </section>
  <div class="auth-footer"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-auth" tabindex="-1" role="dialog" aria-labelledby="modal-authTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div id="form-container">
          <%= render partial: "authentication/form_guide" %>
        </div>
      </div>
    </div>
  </div>
</div>