<h1>Home page</h1>

<% if user_signed_in? %>
	<p>Hello <%=current_user.email %></p>
<% end %>

<div class="card" style="width: 18rem;">
  <img src="https://picsum.photos/400/300" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>


<%=	link_to "Voir la liste", sneakers_path %>

<p><%=	link_to "MODIFIE TON PROFIL", edit_user_registration_path(current_user) %></p>

<%#
identity_front = Stripe::File.create({
  purpose: 'identity_document',
  file: File.new(current_user.ids[0].current_path),
  }, {
  stripe_account: 'acct_1InK1r2QFklsr9vG',
})

identity_verso = Stripe::File.create({
  purpose: 'identity_document',
  file: File.new(current_user.ids[1].current_path),
  }, {
  stripe_account: 'acct_1InK1r2QFklsr9vG',
})

person_token = Stripe::Token.create({
  person: {
	verification: {
		document: {
				front: identity_front.id,
      			back: identity_verso.id,
		},
	},
  },
})

Stripe::Account.update_person(
	'acct_1InK1r2QFklsr9vG',
	'person_4InK1r00pgBlEfDf',
	{
		person_token: person_token
	})
%>

