<h1>Home page</h1>

<% if user_signed_in? %>
	<p>Hello <%=current_user.email %></p>
<% end %>

<div class="card" style="width: 18rem;">
  <img src="https://picsum.photos/400/300" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>


<%=	link_to "Voir la liste des Sneakers", sneakers_path %>
<br><br>
<%= link_to "Modifier mon profil", edit_user_registration_path %>

<%#
p payout = Stripe::Payout.create({
      amount: 100,
      currency: 'eur',
      destination: 'ba_1Inmn42QFklsr9vGI323QckG',#@account.external_accounts.data[0].id
      method: "standard",
      }, {
        stripe_account: 'acct_1InK1r2QFklsr9vG',
      }) 
%>


<%# 
if current_user
  if !current_user.token_account? && current_user.date_of_birth? && current_user.line1? && current_user.city? && current_user.postal_code? && current_user.phone? 
    create_connect_account
    p "LE USER A REMPLI TOUTE SES INFOS DONC ON LUI CRÉÉ UN COMPTE CONNECT"
  end 
  #if current_user.ids[0] && current_user.ids[1] && current_user.ids[2]
    #send_identity_document
  #end 
end




def send_identity_document
  identity_front = Stripe::File.create({
    purpose: 'identity_document',
    file: File.new(current_user.ids[0].current_path),
    }, {
    stripe_account: current_user.stripe_account_id,
  })

  identity_verso = Stripe::File.create({
    purpose: 'identity_document',
    file: File.new(current_user.ids[1].current_path),
    }, {
    stripe_account: current_user.stripe_account_id,
  })

  identity_address = Stripe::File.create({
    purpose: 'identity_document',
    file: File.new(current_user.ids[2].current_path),
    }, {
    stripe_account: current_user.stripe_account_id,
  })

  person_token = Stripe::Token.create({
    person: {
    verification: {
      document: {
          front: identity_front.id,
              back: identity_verso.id,
      },
      additional_document: {
        front: identity_address.id
      }
    },
    },
  })

  Stripe::Account.update_person(
    current_user.stripe_account_id,
    current_user.person_id,
    {
      person_token: person_token
    })    
end
%>
<%#
identity_address = Stripe::File.create({
  purpose: 'identity_document',
  file: File.new(current_user.ids[2].current_path),
  }, {
  stripe_account: 'acct_1InK1r2QFklsr9vG',
})


identity_front = Stripe::File.create({
  purpose: 'identity_document',
  file: File.new(current_user.ids[0].current_path),
  }, {
  stripe_account: 'acct_1InK1r2QFklsr9vG',
})

identity_verso = Stripe::File.create({
  purpose: 'identity_document',
  file: File.new(current_user.ids[1].current_path),
  }, {
  stripe_account: 'acct_1InK1r2QFklsr9vG',
})

person_token = Stripe::Token.create({
  person: {
	verification: {
		document: {
				front: identity_front.id,
      			back: identity_verso.id,
		},
		additional_document: {
			front: identity_address.id
		}
	},
  },
})

Stripe::Account.update_person(
	'acct_1InK1r2QFklsr9vG',
	'person_4InK1r00pgBlEfDf',
	{
		person_token: person_token
	})
%>

