<h1>Home page</h1>

<% if user_signed_in? %>
	<p>Hello <%=current_user.email %></p>
<% end %>

<div class="card" style="width: 18rem;">
  <img src="https://picsum.photos/400/300" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<%=	link_to "Voir la liste", sneakers_path%>

