.article {
  background-color: black;
  margin: 0 auto;
  width: 100%;
  box-shadow: 0 5px 5px -5px rgba(0,0,0,0.2);
  margin: 60px 0 ;
}


.article>h2 {
  box-shadow: 0 -5px 5px -5px rgba(0,0,0,0.2);
  padding-top: 40px;
  text-align: center;
  margin-bottom: 30px;
  color: white;
  font-size: 50px;
  font-weight: 900;
}

.article .subscribe-newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}

.subscribe-newsletter input {
  width: 200px;
  margin-right: 10px;
  text-decoration: none;
}


.newsletter-btn {
  margin-left: 10px;
  padding: 1px 2px;
}

.article p { 
  color: white;
  text-align: center;
  padding: 20px 0;
}
.article hr { 
  background-color: white; 
  height: 1px; 
  border: 0; 
  margin: 0 370px;

}


// .article>h2:after {
//   content: "";
//   display: block;
//   margin: 0 auto;
//   width: 10%;
//   padding-top: 20px; 
//   border-bottom: 1px solid black;
// }

#read_more_link {
  font-style: italic;
}


// Small devices (landscape phones, 500px and up)
@media (min-width: 500px) {
  .link-to-articles {
    display: flex;
    justify-content: center;
  }  
}

@media (min-width: 700px) {

} 

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
 
}

// Large devices (desktops, 902px and up)
@media (min-width: 902px) {
 
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  
}

