.banner {
  background-image: url("banner/home_page_banner_phone.svg"); 
  background-position: center;	
  background-size: cover;
  text-color: white;
	height: 100vh;
  text-align: left;
  padding-top: 40vh;
}
.container {
    margin-left: 100px;
}
h1 {
  font-size: 70px;
}

@media (min-width: 100px) and (max-width: 575px) {
  .banner {
    background-image: url("banner/home_page_banner_phone.svg"); 
  }
  h1 {
    display: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  h1 {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  // h1 {
  //   display: none;
  // }
}

// Large devices (desktops, 902px and up)
@media (min-width: 902px) {
  h1 {
    display: block;
    font-size: 70px;
  }
  .banner {
    background-image: url("banner/home_page_banner.svg"); 
  }
  .container {
    margin-left: 100px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

