.scrolling {
  text-align: center;
}

// .scrolling>p {
//   margin: 0px 0 ;
// }

.banner {
  border: solid;
  background-image: url("banner/home_page_banner_phone.svg"); 
  background-position: center;	
  background-size: cover;
  text-color: white;
	height: 100vh;
  text-align: left;
  padding-top: 40vh;
}
.container {
  // align-items: center;
    // margin-left: 100px;
}
h1 {
  font-size: 70px;
}

@media (min-width: 100px) and (max-width: 575px) {
  .banner {
    background-image: url("banner/home_page_banner_phone.svg"); 
  }
  h1 {
    font-size: 30px;
    // display: none;
  }

}

// Small devices (landscape phones, 500px and up)
@media (min-width: 500px) {
  h1 {
    font-size: 30px;
  }
  .scrolling {
    padding-top: 320px;
  } 
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  h1 {
  //   display: none;
      font-size: 50px;
  }
  .scrolling {
    padding-top: 280px;
  } 
}

// Large devices (desktops, 902px and up)
@media (min-width: 902px) {
  h1 {
    // display: block;
    font-size: 60px;
  }
  .banner {
    background-image: url("banner/logo.svg"); 
  }
  .scrolling {
    padding-top: 250px;
  }
  // .container {
  //   margin-left: 100px;
  // }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  
}

