.container {
	width : 1440px;
	margin: 0 auto auto;
}


@media (max-width: 900px) {
	.container {
		width: 650px;
	}
}


@media (max-width: 700px) {
	.container {
		width: 400px;
	}
}

@media (max-width: 450px) {
	.container {
		width: 300px;
	}
}
