footer {
  background-color: #0E0E0E;
  color: white;
  padding: 3rem;
  margin-top: 12rem;
}
footer a {
  color: white;
}
footer li {
  line-height: 1.6;
}
.footer-content {
  display: flex;
  flex-direction: column;
}
.footer-lists {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
.footer__newsletter {
  margin-bottom: 2rem;
  @include media-breakpoint-up(lg) {
    width: 25%;
  }
}
.footer__newsletter__title {
  @include para-2-bold;
  margin-bottom: 0.8em;
}
.footer__newsletter__input {
  border: 1px solid #b0b0b0 !important;
  color: #b0b0b0 !important;
  margin-top: 1rem;
  &:focus {
    background-color: $black;
  }
}
.footer__widget-wrapper {
  @include media-breakpoint-up(lg) {
    width: 25%;
  }
}
.footer__content-middle {
  display: flex;
  align-items: center;
  gap: 3rem;

  @include media-breakpoint-down(lg) {
    flex-direction: column;
  }
}
.footer__bottom-line {
  display: flex;
  gap: 3rem;
  max-width: 0px;
  margin-top: 6rem;
  white-space: nowrap;
  
  @include media-breakpoint-down(lg) {
    display: none;
  }
}
.footer__bottom-line--mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;

  & > img {
    align-self: start;
    width: 100%;
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }
}
.footer__list-block {
  margin-right: 3rem;
}
.footer__list-title {
  @include para-2-bold;
  margin-bottom: 0.8em;
}
.footer__list {
  list-style-type: none;
  padding: 0;
  & > li,
  & > a {
    white-space: nowrap;
  }
}