footer {
  background-color: #0E0E0E;
  color: white;
  display: flex;
  align-items:center;
  justify-content:space-evenly;
  padding: 3rem;
}
footer a {
  color: white;
}
footer li {
  line-height: 1.6;
}
.footer-left-block {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding-right: 1.5rem;
}
.footer-right-block {
  display: flex;
  justify-content: space-evenly;
  padding-left: 1.5rem;
}
.footer__newsletter {
  margin-bottom: 2rem;
}
.footer__newsletter__title {
  @include para-1-bold;
  margin-bottom: 0.8em;
}
.footer__newsletter__input {
  background-color: #0E0E0E;
  border: 1px solid #b0b0b0 !important;
  color: #b0b0b0 !important;
  margin-top: 1rem;
}
.footer__trustpilot {
  border: 1px solid white;
  background-color: white;
  height: 200px;
}
.footer__bottom-line {
  max-width: 0px;
  white-space: nowrap;
  margin-top: 6rem;
}
.footer__list-block {
  margin-right: 3rem;
}
.footer__list-title {
  @include para-1-bold;
  margin-bottom: 0.8em;
}
.footer__list {
  list-style-type: none;
  padding: 0;
}