.modal-sneaker-logos a:hover {
  text-decoration: none; 
  color: #FFCD05;
}
.modal-sneaker-logos-truck, .modal-sneaker-logos-microscope {
    border: 3px solid #DDDDDD;
    border-radius: 11px;
    padding: 10px;
  }
  .modal-content {
    border: 3px solid #6C6C6C;
    border-radius: 10px;
  }
  @media (min-width: 320px) {
    .desktop-btn-action {
      display: none
    }
    .modal-sneaker-infos {
      margin-top:20px;
    }
    .modal-sneaker-logos {
      margin-top: 10px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      height: 100%;
      flex-direction: column;
      text-align: center;
    }
    .modal-sneaker-logos img {
      width:40px;
      margin-bottom:10px;
    }
    .modal-sneaker-logos h5 {
      font-size:12px;
    }
    .modal-sneaker-logos p, .modal-sneaker-logos a {
      font-size:10px;
      color: black;
      text-decoration: none;
    }
    .modal-sneaker-logos a {
      font-size: 9px;
    }
  }

  @media (min-width: 768px) {
    .modal-sneaker-all {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      align-items: center;
    }
    .modal-sneaker-size-cond, .modal-sneaker-box-extras {
      margin: 20px;
    }
    .carousel-slide-body-sneaker {
      display: grid;
      grid-template-columns: 320px;
      align-items: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .modal-sneaker-infos {
      grid-column: 1 / 3;
    }
    .modal-sneaker-logos img {
      width:40px;
      margin-bottom:0px;
    }
    .modal-sneaker-logos {
      display: block;
      padding-left: 20px;
    }
    .modal-sneaker-logos h5 {
      margin-top:5px;
      font-size:10px;
    }
    .modal-sneaker-logos p, .modal-sneaker-logos a {
      margin:0px;
      font-size:8px;
    }
    .modal-sneaker-logos-truck {
      margin-top: 10px;
    }
  }
  @media (min-width: 1024px) {
    .carousel-slide-body-sneaker {
      grid-template-columns: 550px auto;
    }
    .modal-sneaker-logos-truck, .modal-sneaker-logos-microscope {
      padding: 50px 10px;
    }
    
    .modal-btn-action {
      width: 150px;
      padding: 5px;
      font-weight: bold;
      font-size: 26px;
      border-radius: 33px;
    }
    .modal-sneaker-logos img {
      width:60px;
      margin-bottom:0px;
    }
    .modal-sneaker-logos {
      display: block;
      padding: 0 20px;
    }
    .modal-sneaker-logos h5 {
      margin-top:10px;
      font-size:15px;
    }
    .modal-sneaker-logos p, .modal-sneaker-logos a {
      margin:15px;
      font-size:12px;
    }
    .modal-sneaker-logos-truck {
      margin-top: 10px;
    } 
  }
  @media (min-width: 1440px) {
    .modal-sneaker-logos img {
      width:70px;
      margin-bottom:10px;
    }
    .modal-sneaker-logos h5 {
      font-size:14px;
    }
    .modal-sneaker-logos p, .modal-sneaker-logos a {
      font-size:13px;
    }
    .modal-sneaker-logos a {
      font-size: 11px;
    }
  }
  //   @media (min-width: 1024px) {
  //   .modal-sneaker-logos img {
  //     width:70px;
  //     margin-bottom:10px;
  //   }
  //   .modal-sneaker-logos h5 {
  //     font-size:14px;
  //   }
  //   .modal-sneaker-logos p, a {
  //     font-size:13px;
  //     color: black;
  //     text-decoration: none;
  //   }
  //   .modal-sneaker-logos a {
  //     font-size: 11px;
  //   }
  // }
// @media (min-width: 768px) {
//   .modal-sneaker-all {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     justify-content: center;
//     align-items: center;
//   }
//   .modal-sneaker-size-cond, .modal-sneaker-box-extras {
//     margin: 20px;
//   }
// }
.modal-sneaker-infos {
  text-align: center;
}