.glass-search-form {
  display:none;
}

.dropdown-toggle::after {
  content: none;
}
.dropdown-menu.show {
  background-color: black;
}
.dropdown-item:hover {
  color: white;
  background-color: transparent !important;
}

.dropdown-item {
  color: white;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 50px;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.sneaker-cards-btn {
  padding: 10px 0;
  background-color: black;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
}


@media (min-width: 100px) {
  .glass-search-form {
    width: 100vh;
    height: 100vh;
    z-index: 1000;
    overflow:auto;
    margin-top: 47px;
  } 

  .popup-search {
    background-color: white;
    width: 100%;
    margin: 0;
  }
  .glass_icon_phone {
    transform: rotate(279deg);
  }
  .icons {
    display:none;
  }
  .navbar-brand
  {
    display:none; 
  }
  .navbar {
    position: relative;
  }
  .navbar-brand-phone {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;
    display: block;
  }
}

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//    .glass-search-form {
//     width: 100vh;
//     height: 100vh;
//     z-index: 1000;
//     overflow:auto;
//     margin-top: 47px;
//   } 

//   .popup-search {
//     background-color: white;
//     width: 100%;
//     margin: 0;
//   } 
// }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .list-sneakers-cards {
    height: 768px;
    left: 0px;
    right: 0px;
    background-color: white;  
    position: absolute;
  }
 
  .glass-search-form {
    // padding-top:40px;
    width: 400px;
    height: auto;
    margin-top: 0px;
  } 

  .navbar-brand-phone {
    display:none;
  }
  .toggler_icon_phone {
   display:none; 
  }
  
  .glass_icon_phone
  {
    display:none;
  }  
  .navbar-brand
  {
    display:flex; 
  }
  .icons {
    display: flex;
    align-items: center;
  }
  .glass_icon {
    margin: 0px 15px;
  }
  #sell_button {
    margin: 0 25px;
    padding: 0 20px;
    border-radius: 10px;
  }
  .toggler_icon {
    margin-right: 10px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 1024px) {
  .glass-search-form {
    width: 600px;
  } 
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1440px) {
  .glass-search-form {
    width: 1000px;
  } 
}

