.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 50px;
  color: white;
}

.dropdown-toggle::after {
  content: none;
}
.dropdown-menu.show {
  background-color: black;
}
.dropdown-item:hover {
  color: white;
  background-color: transparent !important;
}

.dropdown-item {
  color: white;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

@media (min-width: 100px) and (max-width: 575px) {
  .navbar {
    position: relative;
  }
  .navbar-brand {
      position: absolute;
      left: 50%;
      margin-left: -50px !important;
      display: block;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
 
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
 
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  // .magnify_glass_icon {
  //   display: none;
  // }
}

