.navbar-lewagon {
  justify-content: space-between;
  background: white;
  // height: 60px;
  // margin: 20px 20px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.navbar-brand {
	
	// height: 30px;

	// margin: 0px 10px;	
}