.newsletter-container {
  background-color: black;
  margin: 0 auto;
  width: 100%;
  box-shadow: 0 5px 5px -5px rgba(0,0,0,0.2);
  margin: 60px 0 ;
}

.newsletter-container>h2 {
  box-shadow: 0 -5px 5px -5px rgba(0,0,0,0.2);
  padding-top: 40px;
  text-align: center;
  // margin-bottom: 30px;
  color: white;
  font-size: 50px;
  font-weight: 900;
}

.newsletter-container .subscribe-newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}

.subscribe-newsletter input {
  text-decoration: none;
}

.newsletter-form {
  display: grid;
  justify-content: center;
  align-items: start;
  justify-items: center;
}


.newsletter-container p { 
  color: white;
  text-align: center;
  padding: 20px 0;
}

.newsletter-container hr { 
  background-color: white; 
  height: 1px; 
  border: 0; 
}


// Small devices (landscape phones, 500px and up)
@media (min-width: 320px) {
  .subscribe-newsletter input {
    flex-direction: column;
    justify-content: center;
    height: 30px;
  }
  .newsletter-container h2 {
    font-size: 30px;
  }
  .newsletter-container p {
    font-size: 12px;
    padding: 0 10px;
    margin: 50px 0;
  }
  .newsletter-container hr { 
    margin: 0 70px;
  }
  
}

@media (min-width: 768px) {
  .newsletter-container h2 {
    font-size: 40px;
  }
  .newsletter-container p {
    font-size: 14px;
  }
  .subscribe-newsletter input {
    width: 150px;
    margin-right: 10px;
  }
  .newsletter-form .newsletter-btn {
    grid-column: 3 / 3;
    height: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
  }

  .newsletter-form .newsletter-email {
    grid-column: 2 / 3;
    height: 30px;
    width: 250px;
  }
  .newsletter-container hr { 
    margin: 0 250px;
  }
} 

// Medium devices (tablets, 768px and up)
@media (min-width: 1024px) {
  .newsletter-container h2 {
    font-size: 50px;
  }
 .newsletter-container hr { 
    margin: 0 380px;
  }
  .newsletter-container p {
    font-size: 16px;
  }
}

// Large devices (desktops, 902px and up)
@media (min-width: 1440px) {
  .newsletter-container h2 {
    font-size: 60px;
  }
 .newsletter-container hr { 
    margin: 0 450px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  
}

