.omniauth-btn {
	background: black;
	border: none;

	color: #f4f4f4;

	height: 30px;
	width: 250px;
}

.signup_button {
	padding-top:30px;
	text-align: center 
}
.signup_button>a {
	color: black;
}

.title-login {
	margin: 40px 0;
	padding: 8px 0;
}



// .facebook {
// 	background: black;
// 	border: none;
// 	// border-radius: 15px ;
// 	color: #f4f4f4;
// 	// cursor: pointer;
// 	height: 30px;
// 	width: 250px;
// }