.signin-btn {
	padding-top:30px;
	text-align: center 
}
.signin-btn>a {
	color: black;
}

.title-signup {
	margin: 40px 0;
	padding: 8px 0;
}

@media (min-width: 320px) {
	.input-signup {
		border-bottom: 1px solid #dee2e6;
		border-right: none;	
	}
  .input-signup {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 20px;
    height: 650px;
  }
  .omniauth-btn {
    text-align:center;
  }
}


// @media (min-width: 425px) {
//   .input-signup {
//     border-right: none;
//     border-bottom: 1px solid #dee2e6;
//   }
// }



// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.input-signup {
		border-right: 1px solid #dee2e6;
		border-bottom: none;	
	}
  .signin-btn {
    // padding-top:70px;
  }
}

// Large devices (desktops, 902px and up)
@media (min-width: 902px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  
}
