.omniauth-btn:link
{
   color: #f4f4f4;
   text-decoration: none;
}
.omniauth-btn:visited
{
   color: #f4f4f4;
   text-decoration: none;
}
.omniauth-btn:hover
{
   color: #d3d3d3;
   text-decoration: none;
}
.omniauth-btn:active
{
   color: #f4f4f4;
   text-decoration: none;
}

.omniauth-btn {
	background: black;
	color: #f4f4f4;
	margin: 15px 0;
	padding: 1px 4px;
}

.omniauth {
	display: flex;
  flex-direction: column;
}

.signup_button {
	padding-top:30px;
	text-align: center 
}
.signup_button>a {
	color: black;
}

.title-login {
	margin: 40px 0;
	padding: 8px 0;
}

.forgot-password {
	float: right;
}

#connect-btn {
	margin-top: 25px; 
}

@media (min-width: 320px) {
  .input-signin {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 20px;
    height: 280px;
  }
  
  .omniauth-btn {
    text-align:center;
  }
  
}
@media (min-width: 500px) {
	// .input-signin {
	// 	border-bottom: 1px solid #dee2e6;
	// 	margin: 20px 0;
	// 	height: 270px;
	// }
	// .omniauth-btn {
	// 	text-align:center;
	// }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.input-signin {
		// border-right: 1px solid #dee2e6;
		border-bottom: none;	
	}
}

// Large devices (desktops, 902px and up)
@media (min-width: 902px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  
}
