.all_sneakers {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.sneaker-card .sneaker-price {
  margin-top: 10px;
}

.sneaker-card>a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sneaker-card {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}

.sneaker-card_img {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sneaker-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}



@media (min-width: 100px) and (max-width: 575px) {
  .sneaker-card_img>img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  .sneaker-card .sneaker-price {
    font-size: 12px;
  }

  .sneaker-card .sneaker-title {
    font-size: 11px;
    line-height: 13px;
  }

  .sneaker-cards {
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .sneaker-cards {
    grid-template-columns: 1fr 1fr ;
    grid-gap: 40px;
  }
  .sneaker-card .sneaker-price {
    font-size: 10px;
  }

  .sneaker-card .sneaker-title {
    font-size: 11px;
    line-height: 13px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .sneaker-card_img>img {
    width: 140px;
    height: 140px;
    object-fit: contain;
  }
  .sneaker-card .sneaker-price {
    font-size: 11px;
  }

  .sneaker-card .sneaker-title {
    font-size: 12px;
    line-height: 13px;
  }
  .sneaker-cards {
    grid-template-columns: 1fr 1fr ;
    grid-gap: 50px;
  }
  .sneaker-card {
    width: 200px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .sneaker-card_img>img {
    width: 150px;
    height: 150px;
  }

  .sneaker-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
  }
  .sneaker-card {
    width: 150px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .sneaker-card_img>img {
    width: 160px;
    height: 160px;
  }
  .sneaker-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-gap: 80px;
  }
  .sneaker-card {
    width: 200px;
  }
}
