.wizard-infos__form {
	display: flex;
	width: 25%;
	flex-direction: column;
	margin: auto;
	@include media-breakpoint-down(lg) {
		width: 50%;
	}
	@include media-breakpoint-down(md) {
		width: 100%;
	}
}