<div class="sneaker-cards">
  <% @results&.each do |sneaker_db| %>
    <%= link_to sneaker_build_path(@sneaker, :add_infos) do %>
      <div class="sneaker-db-card-img">
        <%= image_tag(sneaker_db.img_url, style: 'width: 100%; justify-content:center;') %>
      </div>
      <div class="sneaker-title">
        <strong><%= sneaker_db.name %></strong>
      </div>
    <% end %>
  <% end %>
</div>
<%== pagy_bootstrap_nav(@pagy) if @pagy %>