<title>Recherche ton modèle - Rock Don't Stock</title>

<div class="container">
  <h1 class="sneaker-dbs-title">Recherche ton modèle</h1>
  <div data-controller="refresh-list">
    <%= form_with url: sneaker_dbs_path, method: :get, html: { class: 'mb-5', data: { refresh_list_target: 'form' } } do |f| %>
      <%= f.text_field :query,
                     class: "form-control",
                     placeholder: 'Recherche ta paire',
                     value: params[:query],
                     data: {
                      refresh_list_target: 'searchInput',
                      action: "keyup->refresh-list#update",
                     } %>
    <% end %>
    <%= render 'sneaker_dbs/list_sneakers_db', sneaker_dbs: @sneaker_dbs %>
  </div>
  <div class="pagy-nav">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>


<style type="text/css">
  .sneaker-dbs-title {
    margin-top: 50px;
    text-align:center;
  }
</style>