// External libraries
@import "bootstrap/scss/bootstrap";
@import "../fonts/fonts";
@import "config/variables";
@import "config/mixins";
@import "components/index";
@import "pages/index";

body {
  font-family: "DM Sans", "Helvetica", "sans-serif";
  color: #0E0E0E;
}
h1 {
  font-size: $font-size-5;
  font-weight: 700;
  @include media-breakpoint-down(lg) {
    font-size: $font-size-5-sm;
  }
}
h2 {
  font-size: $font-size-3;
  margin-bottom: 0.8em;
  line-height: 1;
  
  @include media-breakpoint-down(lg) {
    font-size: $font-size-3-sm;
    margin-bottom: 0.1em;
  }
}
a, a:hover {
  color: inherit;
}
a:not(:hover) {
  text-decoration: none;
}
input[type="checkbox"],
input[type="radio"] {
  filter: grayscale(1);
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset; 
}

ul > li {
  line-height: 2;
}
i.fas {
  margin-right: 0.5em;
  margin-left: 0.5em;
}
form .row,
form .form-group {
  margin-bottom: 1rem;
}
.form-control {
	color: #495057;
	background-color: transparent;
	border: 1px solid $dark-gray;
	border-radius: 0;
  &:focus {
    border-color: $black;
    box-shadow: 0 0 0 0.2rem rgba(100, 100, 100, 0.25)
  }
  &:hover:not(:focus) {
    outline: 1px solid rgba(100, 100, 100, 0.25);
  }
}
.form-select {
  padding: 1rem;
}
.modal-content {
  border: none;
  border-radius: 0;
}
.modal-body {
  padding: 2rem;
}
.modal-body .btn-close {
	position: absolute;
	right: 2rem;
}
.back-button {
  @include para-1;
  display: block;
  margin-bottom: 3rem;
  &:hover {
    text-decoration: none;
  }
}
.page-link,
.page-link:hover,
.page-link:focus {
  color: $black;
}
.page-link:focus {
  box-shadow: 0 0 0 0.25rem rgba(176, 176, 176, 0.25)
}
.page-item.active .page-link {
  border-color: $black;
  background-color: $black;
}
// offset so borders aren't cropped
.auth-guides__content .flickity-viewport,
.home-guides__content .flickity-viewport {
  height: 430px !important;
  
  @include media-breakpoint-down(md) {
    height: 330px !important;
  }
}