<p>Hello <%= @resource.first_name %>!</p>

<p>Tu as demandé une réinitialisation de ton mot de passe. Si ce n’est pas le cas, ignore ce message.</p>

<p>Pour choisir un nouveau mot de passe et valider ta demande, clique sur le lien ci-dessous.</p>
<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p> 

 

<p>A bientôt sur <a href="https://www.rockdontstock.com/">rockdontstock</a> !</p>

 <p>L’équipe Rock Don’t Stock</p>
