<div data-refresh-list-target="list">
  <div id="scroll" class="container">
    <div class="cards">
      <% sneaker_dbs.all.limit(10).each do |sneaker| %>
          <div class="card">
            <%= link_to sneaker_db_path(sneaker), :style=>'color:#000000;' do %>
              <div class="card_img">
                <%= image_tag(sneaker.img_url, style: 'width: 100%; justify-content:center;') %>
              </div>
              <div class="title"><strong><%= sneaker.name %></strong></div>
              <div class="price">À partir de <%= sneaker.price_cents %>€</div>
            <% end %>
          </div>
      <% end %>
    </div>  
  </div>
</div>
