<div data-refresh-list-target="list">
  <div id="scroll" class="container">
    <div class="sneaker-cards">
      <% sneaker_dbs.all.limit(100).each do |sneaker| %>
          <div class="sneaker-card">
            <%= link_to sneaker_db_path(sneaker), :style=>'color:#000000;' do %>
              <div class="sneaker-card_img">
                <%= image_tag(sneaker.img_url, style: 'width: 100%; justify-content:center;') %>
              </div>
            <% end %>
              <div class="sneaker-title"><strong><%= sneaker.name %></strong></div>
              <div class="sneaker-price">À partir de <%= sneaker.price_cents %>€</div>
              <%#= link_to "Vend ce modèle", "#", class: "btn btn-flat" %>
          </div>
      <% end %>
    </div>  
  </div>
</div>
