<h1>Les sneakers</h1>



<%# if policy(Sneaker).create? %>
	<%#= link_to "Ajouter sa sneaker", new_sneaker_path %>
<%# end %>

<%# @sneakers.each do |sneaker|	%>
	<%# if sneaker.state == 1 %>
		<!-- <h2><%#=	sneaker.name %></h2>
		<p>User ID : <%#= sneaker.user_id %></p>
		<p>Taille : <%#=	sneaker.size %> FR</p> <%#= US (shoes_size[sneaker.size] FR)%>
		<p>Prix: <%#= humanized_money_with_symbol(sneaker.price) %></p>
		<p>Condition : <%#= sneaker.condition %>/10</p>
		<p>Box : <%#= sneaker.box %></p>
		<p>Extras : <%#= sneaker.extras %></p> -->
		<%#=	link_to "Voir la sneaker", sneaker_path(sneaker)%>
	<%# end %>
<%# end %>