<div class="container">
  <h1 class="sneaker-dbs-title">Recherche ton modèle</h1>
  <div data-controller="refresh-list">
    <%= form_with url: sneakers_path, method: :get, html: { class: 'mb-5', data: { refresh_list_target: 'form' } } do |f| %>
      <%= f.text_field :query,
                     class: "form-control",
                     placeholder: 'Recherche ta paire',
                     value: params[:query],
                     data: {
                      refresh_list_target: 'searchInput',
                      action: "keyup->refresh-list#update",
                     } %>
    <% end %>
    <%= render 'list_sneakers', sneakers: @sneakers %>
  </div>
  <div class="pagy-nav">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>


<style type="text/css">
  .sneaker-dbs-title {
    margin-top: 50px;
    text-align:center;
  }
</style>



<%# if policy(Sneaker).create? %>
	<%#= link_to "Ajouter sa sneaker", new_sneaker_path %>
<%# end %>

<%# @sneakers.each do |sneaker|	%>
	<%# if sneaker.state == 1 %>
		<!-- <h2><%#=	sneaker.name %></h2>
		<p>User ID : <%#= sneaker.user_id %></p>
		<p>Taille : <%#=	sneaker.size %> FR</p> <%#= US (shoes_size[sneaker.size] FR)%>
		<p>Prix: <%#= humanized_money_with_symbol(sneaker.price) %></p>
		<p>Condition : <%#= sneaker.condition %>/10</p>
		<p>Box : <%#= sneaker.box %></p>
		<p>Extras : <%#= sneaker.extras %></p> -->
		<%#=	link_to "Voir la sneaker", sneaker_path(sneaker)%>
	<%# end %>
<%# end %>