<title>Ajoute ta paire - Rock Don't Stock</title>

<div class="container search-sneaker-model">
  <div class="search-models">
    <h2 class="search-sneaker-model-title">Recherche la paire que tu souhaites vendre</h2>
    <div class="title-add-new-sneaker-db"></div>
    <%= form_with url: sneaker_dbs_path, method: :get, local: false, html: { class: 'search-sneaker-model-form' } do |f| %>
      <%= f.text_field :search, class: "form-control", placeholder: "Recherche ta paire", id: 'search_sneaker_name' %>
    <% end %>
    <div id="form-content">
      <%= render partial: 'sneaker_dbs/list_sneakers_db' %>
    </div>
  </div>
</div>
<%= link_to 'next', next_wizard_path %>

<script>
  // document.addEventListener('turbolinks:load', () => {
  //   let addNewSneakerDb = document.getElementById('addNewSneakerDb');
  //   if (addNewSneakerDb) {
  //     document.getElementById('addNewSneakerDb').addEventListener('submit', (event) => {
  //       event.preventDefault();
  //       let addSneakerDbName = document.querySelector('.add-sneaker-db-name');
  //       document.querySelector('.title-add-new-sneaker-db').innerHTML = `<p style="text-align:center">Ton modèle <strong>${addSneakerDbName.value}</strong> vient d'être ajouter !<br>Tu peux vas le trouver en tapant son nom ci-dessous : </p>`;
  //     });
  //   }
  // });
</script>