<div class="container search-sneaker-model">
  <% unless params[:sneaker_db_id].present? %>
    <div data-controller="refresh-list">
      <div class="search-models">
        <h1 class="search-sneaker-model-title">Recherche la paire que tu souhaites vendre</h1>
        <%= form_with url: sneaker_dbs_path, method: :get, html: { class: 'mb-5 search-sneaker-model-form', data: { refresh_list_target: 'form' } } do |f| %>
          <%= f.text_field :query,
            class: "form-control",
            placeholder: 'Recherche ta paire',
            value: params[:query],
            data: {
              refresh_list_target: 'searchInput',
              action: "keyup->refresh-list#update",
            } %>
        <% end %>
        <div data-refresh-list-target="list">
        </div>
      </div>
    <% end %>
    
    <% if params[:sneaker_db_id].present? %>
      <h1 class="search-sneaker-model-title">Remplis les informations</h1>
      <div class="new-sneaker-form" >
        <%= render "form", sneaker: @sneaker, sneaker_db: @sneaker_db %>      
      </div>
    <% end %>
  </div>
</div>




<style type="text/css">
  .search-sneaker-model {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @media (min-width: 320px) {
    .search-sneaker-model-title {
      text-align: center;
      font-size: 30px;
    }  
  }
  @media (min-width: 768px) {
    .search-sneaker-model-form {
      width: 400px;
    }
  }
  @media (min-width: 1024px) {
    .search-sneaker-model-form {
      width: 500px;
    }
  }
  
  .search-sneaker-model {
    margin-top: 60px;
  }
  .search-models {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  

  .choose-btn {
    display:none;
    position:absolute;

  }
  .btn-sneaker-card-img {
    border: none;
    background-color: white;
  }

</style>
<script type="text/javascript">
  $(document).on('turbolinks:load', () => {
    $('form').on('keypress', e => {
        if (e.keyCode == 13) {
            return false;
        }
    });
});
</script>