<div class="container search-sneaker-model">
  <% unless params[:sneaker_db_id].present? %>
    <div data-controller="refresh-list">
      <div class="search-models">
        <h2 class="search-sneaker-model-title">Recherche la paire que tu souhaites vendre</h2>
        <div class="title-add-new-sneaker-db"></div>
        <%= form_with url: sneaker_dbs_path, method: :get, html: { class: 'search-sneaker-model-form', data: { refresh_list_target: 'form' } } do |f| %>
          <%= f.text_field :query,
            id: 'search_sneaker_name',
            class: "form-control",
            placeholder: 'Recherche ta paire',
            value: params[:query],
            data: {
              refresh_list_target: 'searchInput',
              action: "keyup->refresh-list#update",
            } %>
        <% end %>
        <div data-refresh-list-target="list">
        </div>
        <div class="form-add-new-sneakerdb">
          <hr>
          <h2>Si tu ne trouves pas ton modèle dans la liste, ajoute-le ci-dessous :</h2>
          <form id="addNewSneakerDb"action="/sneaker_dbs/" method="post" > 
            <input class="form-control add-sneaker-db-name" required type="text"  placeholder="Adidas Yeezy Boost 700 Wave Runner Solid Grey" name="add_sneaker_db">
            <input type="submit" value="Ajouter ma paire" class="btn btn-dark">
          </form>
        </div>
      </div>
    <% end %>
    
    <% if params[:sneaker_db_id].present?  %>
      <h1 class="search-sneaker-model-title">Remplis les informations</h1>
      <div class="new-sneaker-form" >
        <%= render "form", sneaker: @sneaker, sneaker_db: @sneaker_db %>      
      </div>
    <% end %>
  </div>
</div>


<script type="text/javascript">
  document.addEventListener('turbolinks:load', () => {
    let addNewSneakerDb = document.getElementById('addNewSneakerDb');
    if (addNewSneakerDb) {
      document.getElementById('addNewSneakerDb').addEventListener('submit', (event) => {
        let addSneakerDbName = document.querySelector('.add-sneaker-db-name');
        document.querySelector('.title-add-new-sneaker-db').innerHTML = `<p style="text-align:center">Ton modèle <strong>${addSneakerDbName.value}</strong> vient d'être ajouter !<br>Tu peux vas le trouver en tapant son nom ci-dessous : </p>`;
      });
    }
  });
</script>

<style type="text/css">
  .form-add-new-sneakerdb hr {
    width: 100%;
  }
  .form-add-new-sneakerdb {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search-sneaker-model {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media (min-width: 320px) {
    .search-sneaker-model-form, .add-sneaker-db-name {
      width: 250px;
    }
    .add-sneaker-db-name {
      margin-bottom: 20px;
    }
    .form-add-new-sneakerdb h2 {
      font-size: 25px;
    }
    .form-add-new-sneakerdb {
      margin-top:30px;
    }
    .form-add-new-sneakerdb h2 {
      margin-top:30px;
      margin-bottom: 10px;
      font-size: 15px;
    }
    .search-sneaker-model-title {
      text-align: center;
      font-size: 25px;
    }  
  }

  @media (min-width: 768px) {
    .form-add-new-sneakerdb h2 {
      font-size: 30px;
    }
    .form-add-new-sneakerdb h2 {
      font-size: 15px;
    }
    .search-sneaker-model-form, .add-sneaker-db-name {
      width: 400px;
    }
  }
  @media (min-width: 1024px) {
    .form-add-new-sneakerdb h2 {
      font-size: 35px;
    }
    .form-add-new-sneakerdb h2 {
      font-size: 20px;
    }
    .search-sneaker-model-form, .add-sneaker-db-name {
      width: 500px;
    }
  }
  
  .search-sneaker-model {
    margin-top: 60px;
  }
  .search-models {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  

  .choose-btn {
    display:none;
    position:absolute;

  }
  .btn-sneaker-card-img {
    border: none;
    background-color: white;
  }

</style>
<script type="text/javascript">
  $(document).on('turbolinks:load', () => {
    $('form').on('keypress', e => {
        if (e.keyCode == 13) {
            return false;
        }
    });
});
</script>